*{
    font-family: 'Montserrat', sans-serif;
}

.main{
    background: url(../img/carusel/1.jpg)  center center/cover no-repeat;
    height: 900px;
}

.main .text{
    color: aliceblue;
    font-weight: 400;
    font-size: 20px;
    padding: 80px;
}
.card{
    margin-top: 18px;
}
h1{
    color:white;
    font-size: 40px;
    text-align: center;
    padding-top: 80px;
}

.my_form{
    padding-top: 200px;
}

form {
    background-color: #f3f3f3;
    padding: 20px;
    margin: 20px;
    margin-top: 200px;
    }