<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,70.." rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Ресторан Veadlok</title>
  </head>
   <body>
  
    <div class="container nav">
      <div class="row">
        <div class="col">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('index') }}">Veadlok</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Меню</a>
              <div class="dropdown-menu">
                  <a class="dropdown-item"  href='{{ url_for('menu') }}'>Первые блюда</a>
                  <a class="dropdown-item"  href='{{ url_for('menu') }}'>Вторые бюлда</a>
                  <a class="dropdown-item"  href='{{ url_for('menu') }}'>Напитки</a>
                  <a class="dropdown-item"  href='{{ url_for('menu') }}'>Десерты</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('order') }}">Сделать заказ</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
      
    <section class="main">
    <h1>Ресторан Veadlok</h1>
      <div class="container">
            <div class="col-md-12">
                <div class="text">
                    Ресторан "Veadlok" вобрал в себя лучшие традиции европейской, испанской и средиземноморской кухни.   Уютная, доброжелательная атмосфера и достойный сервис  - это основные преимущества ресторана. <br><br>
                    Все вышеперечисленное и плюс доступный уровень цен позволили заведению оказаться в списке лучших ресторанов  Москвы. Секрет популярности прост - побывав здесь однажды и ощутив радушие и гостеприимство, теплый прием и заботливое обслуживание, гости непременно возвращаются вновь и рекомендуют  "Veadlok" своим друзьям.
                </div>
            </div>
          
          </div>
      </div>
    </section>
    <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-4 offset-md-4">
              <div class="text_block">
                  <a href="https://pixabay.com/">Служба поддержки</a> | <a href="https://convertio.co/ru/">Политика конфидециальности</a><br>
                  <span>Позвоните нам 8-800-551-01-21</span>
              </div>
            </div>
          </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>